In [1]:
import pandas as pd
import re
from funcs import *
import numpy as np

### Getting data to one df
Since all data is structured in a same way all data is concatenated to one frame for further transformation

In [2]:
#df _bankas
dfb = pd.read_csv('cvbankas.csv')

In [3]:
dfb

,position,company,city,description,salary,payment_way,link,source
0,Virėja (-as),UAB „Aramejas“,Klaipėda,"Restoranui ""PEPPER GREY"" nuolatiniam darbui re...",1000-1500,Neatskaičius mokesčių,https://www.cvbankas.lt/vireja-as-klaipedoje/1...,CV Bankas
1,Studijos pamainų vadovas (-ė),UAB „TV ŽAIDIMAI“,Vilnius,"„BetGames“ yra interaktyvių, paprastų ir patra...",Nuo 900,Į rankas,https://www.cvbankas.lt/studijos-pamainu-vadov...,CV Bankas
2,Pamainos virėjo (-os) - vyr. virėjo (-os) (Net...,UAB „Automatizavimo sprendimai“,Šiauliai,"Jau 5 metus gyvuojantis ""CASK 215"" gastropubas...",1400-2300,Neatskaičius mokesčių,https://www.cvbankas.lt/pamainos-virejo-os-vyr...,CV Bankas
3,Pakuotojas (-a),UAB „FREDA“,Kaunas,"Renkami darbuotojai naujai gamybos linijai!,\r...",Nuo 1600,Neatskaičius mokesčių,https://www.cvbankas.lt/pakuotojas-a-kaune/1-8...,CV Bankas
4,CARGLASS® Serviso vadovas,UAB „Euroglass“,Vilnius,Jūsų kaip CARGLASS® serviso vadovo misija – už...,2000-3000,Neatskaičius mokesčių,https://www.cvbankas.lt/carglass-serviso-vadov...,CV Bankas
...,...,...,...,...,...,...,...,...
9709,"PARDAVIMŲ VADYBININKĖ (-AS) VILNIUJE, KLIENTŲ ...",UAB „Transinesta“ ECOLINES,Vilnius,"\r\nKandidatuok! Kompanija Tavęs laukia!,\r\n,...",Nuo 1180,Neatskaičius mokesčių,https://www.cvbankas.lt/pardavimu-vadybininke-...,CV Bankas
9710,Asistentė (-as) tiesioginių transliacijų studi...,UAB „Evolution Lithuania“,Kaunas,"Būsim atviri, jokios darbinės patirties mes ne...","4,50-8,50",Neatskaičius mokesčių,https://www.cvbankas.lt/asistente-as-tiesiogin...,CV Bankas
9711,Klientų aptarnavimo specialistas (-ė),Baltic Classifieds Group,Vilnius,Autoplius.lt - tai didžiausias Lietuvos transp...,700-750,Į rankas,https://www.cvbankas.lt/klientu-aptarnavimo-sp...,CV Bankas
9712,Partnerystės projektų kuratorius Vilniuje (Ter...,AB „LIETUVOS DRAUDIMAS“,Vilnius,"Mes – „Lietuvos draudimas“. Esame tie, kuriems...",Nuo 2500,Neatskaičius mokesčių,https://www.cvbankas.lt/partnerystes-projektu-...,CV Bankas
9713,Staklininkas (-ė),UAB „Trukmė“,Kaunas,"rytinė pamaina 5.30 val. - 14.30 val.;,\r\n p...",1000-1500,Į rankas,https://www.cvbankas.lt/staklininkas-e-kaune/1...,CV Bankas

In [4]:
#df _market
dfm = pd.read_csv('cvmarket.csv')

In [5]:
dfm

,position,company,city,description,salary,payment_way,link,source
0,Administratorius (-ė),UAB „Biuro“,Vilnius,"\n ,\n ...",1400,Neatskaičius mokesčių,https://www.cvmarket.lt/administratorius-e-vil...,CV Market
1,PARDAVIMŲ VADYBININKAS (-Ė) (El. komercijos p...,"Nefelė, UAB",Vilnius,"\n ,\n ...",1500,Į rankas,https://www.cvmarket.lt/pardavimu-vadybininkas...,CV Market
2,MAISTO GAMYBOS TECHNOLOGO (aukščiausios kokybė...,PERSONALO AKADEMIJA,Anykščiai,"\n ,\n ...",1200 - 1400,Į rankas,https://www.cvmarket.lt/maisto-gamybos-technol...,CV Market
3,KLIENTŲ VADYBININKAS (-Ė),"Nefelė, UAB",Vilnius,"\n ,\n ...",1300 - 1500,Neatskaičius mokesčių,https://www.cvmarket.lt/klientu-vadybininkas-e...,CV Market
4,Accountant,"Kilo grupė, UAB",Vilnius,"\n ,\n ...",950 - 1500,Before tax,https://www.cvmarket.lt/accountant-vilnius-kil...,CV Market
...,...,...,...,...,...,...,...,...
30564,Pakuotojai - krovėjai baldų gamybos įmonėje | ...,UAB „Biuro“,Kaunas,"\n ,\n ...",650 - 750,Į rankas,https://www.cvmarket.lt/pakuotojai-krovejai-ba...,CV Market
30565,Darbuotojai elektronikos komponentų sandėlyje,UAB „Biuro“,Kaunas,"\n ,\n ...",826,Į rankas,https://www.cvmarket.lt/darbuotojai-elektronik...,CV Market
30566,PAGALBINIS DARBININKAS (-Ė),"JUGUM, UAB",Vilnius,"\n ,\n ...",650,Į rankas,https://www.cvmarket.lt/pagalbinis-darbininkas...,CV Market
30567,MAISTO GAMYBOS TECHNOLOGO (aukščiausios kokybė...,PERSONALO AKADEMIJA,Biržai,"\n ,\n ...",1200 - 1400,Į rankas,https://www.cvmarket.lt/maisto-gamybos-technol...,CV Market
30568,Stalius - dailidė,UAB „Biuro“,Utena,"\n ,\n ...",1000,Į rankas,https://www.cvmarket.lt/stalius-dailide-utena-...,CV Market

In [6]:
#df _online
dfo = pd.read_csv('C:/Users/valda/Documents/Python/AdvancedPytthon/Scapingproject/cv_online/cvonline.csv')

In [7]:
dfo

,position,company,city,description,salary,payment_way,link,source
0,JAUNESNYSIS PROJEKTŲ KOORDINATORIUS (NUOTOLINI...,"Synergium, UAB",Vilnius,NaN,€ 1750 – 2200,Neatskaičius mokesčių,https://www.cvonline.lt/lt/vacancy/748948/syne...,CV Online
1,Personalo atrankų specialistas (KETURIŲ darbo ...,"Synergium, UAB",Kaunas,NaN,€ 1400 – 2000,Neatskaičius mokesčių,https://www.cvonline.lt/lt/vacancy/748947/syne...,CV Online
2,Personalo atrankų specialistas (KETURIŲ darbo ...,"Synergium, UAB",Vilnius,NaN,€ 1400 – 2000,Neatskaičius mokesčių,https://www.cvonline.lt/lt/vacancy/748946/syne...,CV Online
3,INŽINIERIUS - KONSTRUKTORIUS (-Ė),"Projektų rengimo biuras, UAB",Vilnius,NaN,€ 2500 – 4900,Neatskaičius mokesčių,https://www.cvonline.lt/lt/vacancy/748929/proj...,CV Online
4,Accounts Payable Accountant,"Telia Lietuva, AB",Vilnius,NaN,0,Neatskaičius mokesčių,https://www.cvonline.lt/lt/vacancy/748928/teli...,CV Online
...,...,...,...,...,...,...,...,...
5316,Client Support Specialist for Electronic Banki...,SEB Global Services,Vilnius,NaN,€ 1800 – 2700,Neatskaičius mokesčių,https://www.cvonline.lt/lt/vacancy/511041/seb-...,CV Online
5317,Client Service Manager in Cash Management at S...,SEB Global Services,Vilnius,NaN,€ 2200 – 3200,Neatskaičius mokesčių,https://www.cvonline.lt/lt/vacancy/511036/seb-...,CV Online
5318,French Speaking Customer Service Specialist,Alliance for Recruitment,Vilnius,NaN,€ 1200,Neatskaičius mokesčių,https://www.cvonline.lt/lt/vacancy/509050/alli...,CV Online
5319,French Speaking Transport Coordinator,Alliance for Recruitment,Vilnius,NaN,€ 1452,Neatskaičius mokesčių,https://www.cvonline.lt/lt/vacancy/471236/alli...,CV Online
5320,Head of Customer Success Department,Alliance for Recruitment,Vilnius,NaN,€ 2975,Neatskaičius mokesčių,https://www.cvonline.lt/lt/vacancy/471041/alli...,CV Online

In [8]:
#Concatanating all data to one df
frames = [dfb, dfm, dfo]
dft = pd.concat(frames)
dft

,position,company,city,description,salary,payment_way,link,source
0,Virėja (-as),UAB „Aramejas“,Klaipėda,"Restoranui ""PEPPER GREY"" nuolatiniam darbui re...",1000-1500,Neatskaičius mokesčių,https://www.cvbankas.lt/vireja-as-klaipedoje/1...,CV Bankas
1,Studijos pamainų vadovas (-ė),UAB „TV ŽAIDIMAI“,Vilnius,"„BetGames“ yra interaktyvių, paprastų ir patra...",Nuo 900,Į rankas,https://www.cvbankas.lt/studijos-pamainu-vadov...,CV Bankas
2,Pamainos virėjo (-os) - vyr. virėjo (-os) (Net...,UAB „Automatizavimo sprendimai“,Šiauliai,"Jau 5 metus gyvuojantis ""CASK 215"" gastropubas...",1400-2300,Neatskaičius mokesčių,https://www.cvbankas.lt/pamainos-virejo-os-vyr...,CV Bankas
3,Pakuotojas (-a),UAB „FREDA“,Kaunas,"Renkami darbuotojai naujai gamybos linijai!,\r...",Nuo 1600,Neatskaičius mokesčių,https://www.cvbankas.lt/pakuotojas-a-kaune/1-8...,CV Bankas
4,CARGLASS® Serviso vadovas,UAB „Euroglass“,Vilnius,Jūsų kaip CARGLASS® serviso vadovo misija – už...,2000-3000,Neatskaičius mokesčių,https://www.cvbankas.lt/carglass-serviso-vadov...,CV Bankas
...,...,...,...,...,...,...,...,...
5316,Client Support Specialist for Electronic Banki...,SEB Global Services,Vilnius,NaN,€ 1800 – 2700,Neatskaičius mokesčių,https://www.cvonline.lt/lt/vacancy/511041/seb-...,CV Online
5317,Client Service Manager in Cash Management at S...,SEB Global Services,Vilnius,NaN,€ 2200 – 3200,Neatskaičius mokesčių,https://www.cvonline.lt/lt/vacancy/511036/seb-...,CV Online
5318,French Speaking Customer Service Specialist,Alliance for Recruitment,Vilnius,NaN,€ 1200,Neatskaičius mokesčių,https://www.cvonline.lt/lt/vacancy/509050/alli...,CV Online
5319,French Speaking Transport Coordinator,Alliance for Recruitment,Vilnius,NaN,€ 1452,Neatskaičius mokesčių,https://www.cvonline.lt/lt/vacancy/471236/alli...,CV Online
5320,Head of Customer Success Department,Alliance for Recruitment,Vilnius,NaN,€ 2975,Neatskaičius mokesčių,https://www.cvonline.lt/lt/vacancy/471041/alli...,CV Online

After looking through data, I can see now that most of the jobs that were posted from outside country does not contain useful data. I will drop those lines.

In [9]:
dft = dft[dft['position'].notna()]
dft = dft[dft['company'].notna()]
dft = dft[dft['city'].notna()]
dft

,position,company,city,description,salary,payment_way,link,source
0,Virėja (-as),UAB „Aramejas“,Klaipėda,"Restoranui ""PEPPER GREY"" nuolatiniam darbui re...",1000-1500,Neatskaičius mokesčių,https://www.cvbankas.lt/vireja-as-klaipedoje/1...,CV Bankas
1,Studijos pamainų vadovas (-ė),UAB „TV ŽAIDIMAI“,Vilnius,"„BetGames“ yra interaktyvių, paprastų ir patra...",Nuo 900,Į rankas,https://www.cvbankas.lt/studijos-pamainu-vadov...,CV Bankas
2,Pamainos virėjo (-os) - vyr. virėjo (-os) (Net...,UAB „Automatizavimo sprendimai“,Šiauliai,"Jau 5 metus gyvuojantis ""CASK 215"" gastropubas...",1400-2300,Neatskaičius mokesčių,https://www.cvbankas.lt/pamainos-virejo-os-vyr...,CV Bankas
3,Pakuotojas (-a),UAB „FREDA“,Kaunas,"Renkami darbuotojai naujai gamybos linijai!,\r...",Nuo 1600,Neatskaičius mokesčių,https://www.cvbankas.lt/pakuotojas-a-kaune/1-8...,CV Bankas
4,CARGLASS® Serviso vadovas,UAB „Euroglass“,Vilnius,Jūsų kaip CARGLASS® serviso vadovo misija – už...,2000-3000,Neatskaičius mokesčių,https://www.cvbankas.lt/carglass-serviso-vadov...,CV Bankas
...,...,...,...,...,...,...,...,...
5316,Client Support Specialist for Electronic Banki...,SEB Global Services,Vilnius,NaN,€ 1800 – 2700,Neatskaičius mokesčių,https://www.cvonline.lt/lt/vacancy/511041/seb-...,CV Online
5317,Client Service Manager in Cash Management at S...,SEB Global Services,Vilnius,NaN,€ 2200 – 3200,Neatskaičius mokesčių,https://www.cvonline.lt/lt/vacancy/511036/seb-...,CV Online
5318,French Speaking Customer Service Specialist,Alliance for Recruitment,Vilnius,NaN,€ 1200,Neatskaičius mokesčių,https://www.cvonline.lt/lt/vacancy/509050/alli...,CV Online
5319,French Speaking Transport Coordinator,Alliance for Recruitment,Vilnius,NaN,€ 1452,Neatskaičius mokesčių,https://www.cvonline.lt/lt/vacancy/471236/alli...,CV Online
5320,Head of Customer Success Department,Alliance for Recruitment,Vilnius,NaN,€ 2975,Neatskaičius mokesčių,https://www.cvonline.lt/lt/vacancy/471041/alli...,CV Online

### Dealing with salary field.
Fist of all, I will check what are unique entries to dft['salary'] and dft['payment_way']. The data in 'salary' field contains string with numbers and words. These will need to be converted to integers, also, it contains information about salary range, aka 'salary from' and 'salary to'. I will extract integer-like strings and split it into two columns.

In [10]:
dft['salary'].drop_duplicates()

0           1000-1500
1             Nuo 900
2           1400-2300
3            Nuo 1600
4           2000-3000
            ...
5278           € 2835
5304    € 1900 – 4450
5308           € 2460
5312           € 1954
5319           € 1452
Name: salary, Length: 5429, dtype: object

In [11]:
dft['salary_from'] = dft.apply(lambda salary: salary_from_str(salary), axis=1)

In [12]:
dft['salary_to'] = dft.apply(lambda salary: salary_to_str(salary), axis=1)

Successfully converted 'salary' string to two integers, indicating salary from and salary to range. Dropping column 'salary'.

In [13]:
del dft['salary']

In [14]:
dft

,position,company,city,description,payment_way,link,source,salary_from,salary_to
0,Virėja (-as),UAB „Aramejas“,Klaipėda,"Restoranui ""PEPPER GREY"" nuolatiniam darbui re...",Neatskaičius mokesčių,https://www.cvbankas.lt/vireja-as-klaipedoje/1...,CV Bankas,1000,1500
1,Studijos pamainų vadovas (-ė),UAB „TV ŽAIDIMAI“,Vilnius,"„BetGames“ yra interaktyvių, paprastų ir patra...",Į rankas,https://www.cvbankas.lt/studijos-pamainu-vadov...,CV Bankas,900,900
2,Pamainos virėjo (-os) - vyr. virėjo (-os) (Net...,UAB „Automatizavimo sprendimai“,Šiauliai,"Jau 5 metus gyvuojantis ""CASK 215"" gastropubas...",Neatskaičius mokesčių,https://www.cvbankas.lt/pamainos-virejo-os-vyr...,CV Bankas,5,215
3,Pakuotojas (-a),UAB „FREDA“,Kaunas,"Renkami darbuotojai naujai gamybos linijai!,\r...",Neatskaičius mokesčių,https://www.cvbankas.lt/pakuotojas-a-kaune/1-8...,CV Bankas,1600,1
4,CARGLASS® Serviso vadovas,UAB „Euroglass“,Vilnius,Jūsų kaip CARGLASS® serviso vadovo misija – už...,Neatskaičius mokesčių,https://www.cvbankas.lt/carglass-serviso-vadov...,CV Bankas,2000,3000
...,...,...,...,...,...,...,...,...,...
5316,Client Support Specialist for Electronic Banki...,SEB Global Services,Vilnius,NaN,Neatskaičius mokesčių,https://www.cvonline.lt/lt/vacancy/511041/seb-...,CV Online,1800,2700
5317,Client Service Manager in Cash Management at S...,SEB Global Services,Vilnius,NaN,Neatskaičius mokesčių,https://www.cvonline.lt/lt/vacancy/511036/seb-...,CV Online,2200,3200
5318,French Speaking Customer Service Specialist,Alliance for Recruitment,Vilnius,NaN,Neatskaičius mokesčių,https://www.cvonline.lt/lt/vacancy/509050/alli...,CV Online,1200,509050
5319,French Speaking Transport Coordinator,Alliance for Recruitment,Vilnius,NaN,Neatskaičius mokesčių,https://www.cvonline.lt/lt/vacancy/471236/alli...,CV Online,1452,471236
5320,Head of Customer Success Department,Alliance for Recruitment,Vilnius,NaN,Neatskaičius mokesčių,https://www.cvonline.lt/lt/vacancy/471041/alli...,CV Online,2975,471041

Next up, salaries are indicated in a various ways, with a different keywords to indicate if taxes are deducted or not. First, I will deal with keywords and after write a function to convert all salaries to amount after tax.

In [15]:
dft['payment_way'] = dft['payment_way'].str.lower()

This is quite a challenge, we have 232 rows of variuos payment descriptions where we need only three values: before_tax, after_tax, and no_salary_indicated. I will use regular expressions' ad write a function to catch those cases.

In [16]:
filt = dft['payment_way'].str.contains('(?:neats|gross|pirms|before|до уплаты)', na=False) #Find rows with some value in column
dft.loc[filt, 'payment_way'] = 'before_tax'

In [17]:
filt = dft['payment_way'].str.contains('(?:atskaičius|net|pec|pēc|after|rankas|после уплаты)', na=False) #Find rows with some value in column
dft.loc[filt, 'payment_way'] = 'after_tax'

In [18]:
filt = dft['payment_way'].isnull()
dft.loc[filt, 'payment_way']  = 'no_salary_indicated'

In [19]:
dft['payment_way'].unique()

array(['before_tax', 'after_tax', 'no_salary_indicated'], dtype=object)

### Custom functions for tax calculations
After dealing with this column, I can proceed to calculating salaries to after tax.

In [20]:
dft['salary_from_at'] = dft['salary_from'].apply(lambda salary_from: salary_after_tax(salary_from))
dft['salary_to_at'] = dft['salary_to'].apply(lambda salary_to: salary_after_tax(salary_to))
del dft['salary_from']
del dft['salary_to']
del dft['payment_way']

dft.rename(columns={'salary_to_at': 'salary_to', 'salary_from_at': 'salary_from'}, inplace=True)

In [21]:
dft

,position,company,city,description,link,source,salary_from,salary_to
0,Virėja (-as),UAB „Aramejas“,Klaipėda,"Restoranui ""PEPPER GREY"" nuolatiniam darbui re...",https://www.cvbankas.lt/vireja-as-klaipedoje/1...,CV Bankas,711,1040
1,Studijos pamainų vadovas (-ė),UAB „TV ŽAIDIMAI“,Vilnius,"„BetGames“ yra interaktyvių, paprastų ir patra...",https://www.cvbankas.lt/studijos-pamainu-vadov...,CV Bankas,645,645
2,Pamainos virėjo (-os) - vyr. virėjo (-os) (Net...,UAB „Automatizavimo sprendimai“,Šiauliai,"Jau 5 metus gyvuojantis ""CASK 215"" gastropubas...",https://www.cvbankas.lt/pamainos-virejo-os-vyr...,CV Bankas,95,222
3,Pakuotojas (-a),UAB „FREDA“,Kaunas,"Renkami darbuotojai naujai gamybos linijai!,\r...",https://www.cvbankas.lt/pakuotojas-a-kaune/1-8...,CV Bankas,1105,93
4,CARGLASS® Serviso vadovas,UAB „Euroglass“,Vilnius,Jūsų kaip CARGLASS® serviso vadovo misija – už...,https://www.cvbankas.lt/carglass-serviso-vadov...,CV Bankas,1339,1980
...,...,...,...,...,...,...,...,...
5316,Client Support Specialist for Electronic Banki...,SEB Global Services,Vilnius,NaN,https://www.cvonline.lt/lt/vacancy/511041/seb-...,CV Online,1211,1788
5317,Client Service Manager in Cash Management at S...,SEB Global Services,Vilnius,NaN,https://www.cvonline.lt/lt/vacancy/511036/seb-...,CV Online,1467,2108
5318,French Speaking Customer Service Specialist,Alliance for Recruitment,Vilnius,NaN,https://www.cvonline.lt/lt/vacancy/509050/alli...,CV Online,842,326358
5319,French Speaking Transport Coordinator,Alliance for Recruitment,Vilnius,NaN,https://www.cvonline.lt/lt/vacancy/471236/alli...,CV Online,1008,302119
5320,Head of Customer Success Department,Alliance for Recruitment,Vilnius,NaN,https://www.cvonline.lt/lt/vacancy/471041/alli...,CV Online,1964,301994

After salary columns are finished, next up description column. There are many strings, spaces and lots of dirty data. I will leave as it is and will use this column only for free search, without displaying it to end user.

In [22]:
filt = dft['position'].str.contains('Data', na=False) & dft['city'].str.contains('Viln', na=False)
dft.loc[filt]

,position,company,city,description,link,source,salary_from,salary_to
393,Financial Data Analyst (Hybrid),UAB „BALTIC VIRTUAL ASSISTANTS“,Vilnius,We are Baltic Assist – the Lithuanian outsourc...,https://www.cvbankas.lt/financial-data-analyst...,CV Bankas,842,1072
798,Data Engineer,UAB „Cognizant Technology Solutions Lithuania“,Vilnius,Our Client is a leading player in the Nordic m...,https://www.cvbankas.lt/data-engineer-vilniuje...,CV Bankas,1339,2300
1152,Growth Data Analyst,Surfshark,Vilnius,We’re looking for someone ready to join our te...,https://www.cvbankas.lt/growth-data-analyst-vi...,CV Bankas,1659,2493
1509,Business Data Analyst (Excel - VBA) -Real Assets,Citco Group of Companies,Vilnius,"About Citco,\r\n,\r\nCitco is a global leader ...",https://www.cvbankas.lt/business-data-analyst-...,CV Bankas,1659,1916
1795,Data Engineer,CyberCare,Vilnius,"Data engineer, unleash your potential! You wil...",https://www.cvbankas.lt/data-engineer-vilniuje...,CV Bankas,1307,1964
...,...,...,...,...,...,...,...,...
5105,Data Analyst in Sanctions Screening Continuous...,Danske Bank Lithuania,Vilnius,NaN,https://www.cvonline.lt/lt/vacancy/684652/dans...,CV Online,1185,1749
5187,Senior Data Tester (QA),Alliance for Recruitment,Vilnius,NaN,https://www.cvonline.lt/lt/vacancy/666401/alli...,CV Online,2364,427220
5192,Data Scientist in Group Impairments,Danske Bank Lithuania,Vilnius,NaN,https://www.cvonline.lt/lt/vacancy/663972/dans...,CV Online,1493,2211
5242,Senior Data Scientist for Advanced Analytics,Danske Bank Lithuania,Vilnius,NaN,https://www.cvonline.lt/lt/vacancy/626803/dans...,CV Online,1954,2903
5250,Data engineer with a DevOps aptitude in Global...,Danske Bank Lithuania,Vilnius,NaN,https://www.cvonline.lt/lt/vacancy/618305/dans...,CV Online,1954,2903

### Final corrections
Before proceeding to export, I will check consistency of data types, to avoid errors in sql database.

In [23]:
dft.columns

Index(['position', 'company', 'city', 'description', 'link', 'source',
       'salary_from', 'salary_to'],
      dtype='object')

In [24]:
dft["salary_to"] =pd.to_numeric(dft["salary_to"])
dft["salary_from"] =pd.to_numeric(dft["salary_from"])
dft

,position,company,city,description,link,source,salary_from,salary_to
0,Virėja (-as),UAB „Aramejas“,Klaipėda,"Restoranui ""PEPPER GREY"" nuolatiniam darbui re...",https://www.cvbankas.lt/vireja-as-klaipedoje/1...,CV Bankas,711,1040
1,Studijos pamainų vadovas (-ė),UAB „TV ŽAIDIMAI“,Vilnius,"„BetGames“ yra interaktyvių, paprastų ir patra...",https://www.cvbankas.lt/studijos-pamainu-vadov...,CV Bankas,645,645
2,Pamainos virėjo (-os) - vyr. virėjo (-os) (Net...,UAB „Automatizavimo sprendimai“,Šiauliai,"Jau 5 metus gyvuojantis ""CASK 215"" gastropubas...",https://www.cvbankas.lt/pamainos-virejo-os-vyr...,CV Bankas,95,222
3,Pakuotojas (-a),UAB „FREDA“,Kaunas,"Renkami darbuotojai naujai gamybos linijai!,\r...",https://www.cvbankas.lt/pakuotojas-a-kaune/1-8...,CV Bankas,1105,93
4,CARGLASS® Serviso vadovas,UAB „Euroglass“,Vilnius,Jūsų kaip CARGLASS® serviso vadovo misija – už...,https://www.cvbankas.lt/carglass-serviso-vadov...,CV Bankas,1339,1980
...,...,...,...,...,...,...,...,...
5316,Client Support Specialist for Electronic Banki...,SEB Global Services,Vilnius,NaN,https://www.cvonline.lt/lt/vacancy/511041/seb-...,CV Online,1211,1788
5317,Client Service Manager in Cash Management at S...,SEB Global Services,Vilnius,NaN,https://www.cvonline.lt/lt/vacancy/511036/seb-...,CV Online,1467,2108
5318,French Speaking Customer Service Specialist,Alliance for Recruitment,Vilnius,NaN,https://www.cvonline.lt/lt/vacancy/509050/alli...,CV Online,842,326358
5319,French Speaking Transport Coordinator,Alliance for Recruitment,Vilnius,NaN,https://www.cvonline.lt/lt/vacancy/471236/alli...,CV Online,1008,302119
5320,Head of Customer Success Department,Alliance for Recruitment,Vilnius,NaN,https://www.cvonline.lt/lt/vacancy/471041/alli...,CV Online,1964,301994

In [26]:
dft.to_csv('jobboardsraw.scv')